#about{
	text-align: center;

}

#mission {
	background-color: #00F32A;

}

#welcome {
	background-color: #7F98FD;

}

#vision {
	background-color: #00F32A;
}

#funFacts{
	background-color: #7F98FD;

}

