#about{
	text-align: center;

}

#ExtraSpace{
	background-color: #00F32A;
	padding: .2em;
	padding-top: 5.6em;
	position: relative;
}

#AboutPic{
	background: url(../img/members3.png);
	width: 100%;
	height: 500px;
	opacity: .5;
	position: relative;
	z-index: -1;
}

#AboutPic p{
	font-size: 3.0em;
	color: white;
}

/*#mission {
	background-color: #00F32A;
	padding: .6em;
	height: 500px
}*/


#welcome {
	background-color: #7F98FD;
	position: relative;
	top: -10px;
}

#welcome h1{
	font-size: 3.0em;
	font-family: 'Roboto', sans-serif;
	padding: .5em;
}

#welcome p{
	padding: .5em;
	font-size: 2em;
}

#vision {
	background: url(../img/wordCloud.png);
	background-repeat: no-repeat;
	background-position: center;
	opacity: .5;
	width: 100%;
	height: 625px;
	padding: .5em;
}

#funFacts{
	background-color: #7F98FD;

}

#aboutFinal{
	background-color: #00F32A;
	height:300px;
}

#aboutFinal p{
	color: black;
	font-size: 3.0em;
	padding-top: 2em;
}

