body{
	margin-left:10%;
	margin-right:10%;
	margin-top:1%;
	font-family:Raleway, sans-serif;
	background-color:rgba(0,0,0,0.03);
	color:rgba(0,0,0,0.7);
	font-size:1em;
}

@font-face{font-family:Raleway; src:url(Raleway-Regular.ttf);}

form{padding-bottom:3em;}

input{
	font-family:Raleway, sans-serif;
	padding:0.4em;
	margin-bottom:0.8em;
	font-size:1em;
	letter-spacing:0.07em;
	color:rgba(0,0,0,0.7);
	width:15em;
	box-shadow:0 0 0.3em rgba(0,0,0,0.3);
	border:none;
}

textarea{
	font-family:Raleway, sans-serif;
	padding:0.4em;
	margin-bottom:0.8em;
	font-size:1em;
	letter-spacing:0.07em;
	color:rgba(0,0,0,0.7);
	width:30em;
}

.longinput{height:6em;}

.tweetinput{height:3em;}

h1{
	font-size:3em;
	text-align:center;
	color:#000000;
	letter-spacing:0.1em;
}

@media only screen and (max-width:600px){
	body{margin-left:3%; margin-right:3%;}
    h1{font-size:1.2em;}
    textarea{width:14em;}
    input{width:14em;}
    h2{font-size:1em;}
    .attachfile{margin-left:0em;}
}

#rushapp{color:rgba(0,0,0,0.3); text-shadow:none;}

h2{
	font-size:2em;
	letter-spacing:0.1em;
	text-transform:uppercase;
	color:rgba(0,0,0,0.6);
}

.descript{
	font-size:1em;
	font-style:italic;
	color:rgba(0,0,0,0.7);
	letter-spacing:0.05em;
	padding-bottom:0.8em;
}

.attachfile{
	border:none;
	box-shadow:0 0 0.3em rgba(0,0,0,0.3);
	padding:0.7em;
	margin-left:1em;
	margin-top:1em;
}

#submitbutton{
	box-shadow:0 0 0.3em rgba(0,0,0,0.5);
	background-color:#000000;
	color:#FFFFFF;
	border:none;
	text-transform:uppercase;
	font-weight:bold;
	font-size:1.5em;
	text-align:center;
	padding:0.5em;
	width:10em;
	cursor:hand;
	letter-spacing:0.1em;
	margin-top:1em;
}

footer{
	width:100%;
	margin:0 auto;
	text-align:center;
	color:rgba(0,0,0,0.5);
	letter-spacing:0.25em;
	padding:1em;
}

footer > a{
	font-weight:bold;
	text-decoration:none;
	color:rgba(0,0,0,0.4);
}