#events {
	background: white url('../img/light_wool.png');
	background-repeat: repeat;
}

#event-header{
	border-bottom:20px solid #18FF18;
	padding-top: 30px; 
}

#evt-hdr-font{
	font-size:5em;
	color: #485FFF;
	font-weight: bold;
}

#calendar{
	margin:auto;
	width:80%;
	height:70%;
}