body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.page {
    position: absolute;
    opacity: 0;
    width: 100%;
}

#nav-bar {
    width: 100%;
    background-color: none;
    text-align: center;
    position: fixed;
    z-index: 10;
    border-top: 0.5em solid #333333;
}

.nav-link {
    display: inline-block;
    background-color: #FFC666;
    color: #333333;
    padding: 1em 1.2em;
    font-size: 1.2em;
    margin: 0em 0.5em;
    border-bottom-right-radius: 1em;
    border-bottom-left-radius: 1em;
    cursor: pointer;
}
    .nav-link:hover, .nav-link-selected {
        background-color: #333333;
        color: #FFC666;
    }



/*
*
* CSS for index.html, HOME
*
*
*/


#home {
    text-align: center;
    height: 100%;
}

@font-face {
    font-family: 'PetitFormalScript';
    src:url('../fonts/PetitFormalScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: cursive;
}

#home h1 {
    font-size: 6.8em;
    font-family: 'roboto', sans-serif;
    color: #0835EE;
    padding: 0.2em;
    padding-top: 1.6em;
}

#home h2 {
    font-size: 2.4em;
    font-family: 'PetitFormalScript', sans-serif;
    color: #00F32A;
    padding: 0.8em; 
}

#home h3 {
    font-size: 1.4em;
    font-family: 'Julius Sans One', sans-serif;
    color: #888888;
    padding: 1.4em;
}

#home_content_1 {
    height: 600px;
    background: black;
    background: url('../img/binding_dark.png') repeat;
    opacity: .9;
}

#home_content_2 {
    height: 400px;
    background: white;
}

.home_niceSquare {
    display: inline-block;
    height: 15em;
    width: 15em;
/*    border: 2px solid black;
    background-color: gray;*/
    margin-right: 1.5em;
    margin-left: 1.5em;
}

p.home_square {
    font-size: 2.5em;
    font-family: 'roboto', sans-serif;
    color: black;
    padding-bottom: 1em; 
    padding-top: 1em;   
}

.fa-custom {
    font-size: 10em;
    color: gray;
}

#home_content_3 {
    height: 500px;
    background: black;
    background: url('../img/fake_brick.png') repeat;
    opacity: .8;    
}

#overlay_pic_3 {
    background: url('../img/ktp_cider.jpg');
    width: 100%;
    height: 500px;
}

#home_content_3 > p {
    font-size: 2.5em;
    font-family: 'roboto', sans-serif;
    color: white;
    padding-top: 5em;
    padding-left: 2em;
    padding-right: 2em; 
    line-height: 1.5em;   
}












/*
*
* CSS for RUSH SECTION
*
*
*/


#rush {
    text-align: center;
    height: 100%;
}


#rush_first_slide {
    height: 600px;
    background-color: yellow;
}


#carousel-example-generic {
    height: 600px;
    width: 100%;
    background-color: gray;
}

.carousel-inner {
    position: relative;
    width: 100%
    overflow: hidden;

}

.carousel-caption {
    color: black;
    font-size: 14px;
}