#kappathetapifooter{
    font-family:'Petit Formal Script', cursive;
    font-size:2.3em;
    letter-spacing:0.1em;
    padding-left:2em;
    padding-top:0.4em;
}

.ktp-fade {
	color: #18FF18;  
	-webkit-animation: ktp-fade 20s infinite linear; 
	-moz-animation: ktp-fade 20s infinite linear; 
}
@-webkit-keyframes ktp-fade {
    0%		{ color: #18FF18; } 
    50%		{ color: #485FFF; }
}
@-moz-keyframes ktp-fade {
    0%		{ color: #18FF18; } 
    50% 	{ color: #485FFF; }
}

.rev-fade {
	color: #485FFF;  
	-webkit-animation: rev-fade 20s infinite linear; 
	-moz-animation: rev-fade 20s infinite linear; 
}
@-webkit-keyframes rev-fade {
    0%		{ color: #485FFF; }
    50%		{ color: #18FF18; } 
}
@-moz-keyframes rev-fade {
    0%		{ color: #485FFF; }
    50%		{ color: #18FF18; } 
}


body{
	font-family: Raleway, sans-serif;
	position: absolute;
}
 
::-webkit-scrollbar{width: 12px;}
::-webkit-scrollbar-track{
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius:10px;
    border-radius:10px;
}
::-webkit-scrollbar-thumb{
    -webkit-border-radius:10px;
    border-radius:10px;
    background:rgba(255,255,255,0.8); 
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-thumb:window-inactive{background:rgba(255,255,255,0.4);}

/******************************* NAV *******************************/
#ascensor{
    overflow:hidden;
    background-color:rgba(0,0,0,0.1);
    /*background:url('../img/KTPBackgroundJJ.png');*/
}

.comingsoon{
    text-align:center;
    margin-top:15%;
    font-size:5em;
    color:#000000;
    background-color:yellow;
    box-shadow:0 0 0.6em #000000;
}

#nav-bar{
    position: fixed;
    z-index: 10;
    height: 48px;
    width: 100%;
    text-align: center;
    background: #000000;
    font-size: 20px; 
    box-shadow: 0 0 1.5em rgba(0,0,0,0.6);
}

.nav-link{
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
    color: white;
    height: 100%;
    width: 25%;
    /*border-right: 0.1em solid #EEEEEE;*/
}   

.nav-link:hover{border-bottom:0.2em solid #EEEEEE; cursor:hand;}

.selected{border-bottom:0.2em solid #EEEEEE;}

.quote {
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 100%;
    width: 20%;
    color: #616D7E;
    font-family: 'Petit Formal Script', cursive;
} 

.quote-l {
    border-right: 3px solid #616D7E;
    font-size: 23px;
}

@font-face{
    font-family:Raleway;
    src:url(Raleway-Regular.ttf);
}

/* 855 px add media*/
@media all and (max-width: 855px) {
	.quote{
		display: none;nav-bar
	}
	div.nav-link {
		width: 16.6666666667%;
	}
    h1 {
        font-size: 10px;
    }
}
/******************************* /NAV *******************************/


/******************************* HOME ******************************/
#home-header{
	color: #18FF18;
	border-bottom:20px solid #0B1740;
	padding-top: 30px; 
    width: 100%;
}

#home-hdr-font{
	font-size:8.5em;
	font-weight:normal;
	font-family:Raleway, sans-serif;
    padding-left:0.1em;
}

@media only screen and (max-width:900px){
    #home-hdr-font{font-size:6em;}
}

#home{background-repeat:repeat;}

.vendor {
	text-align:center;
    margin-top:6em;
	margin-left:auto;
	margin-right:auto;
    margin-bottom:0em;
	width:60em;
    box-shadow:0 0 0.7em rgba(0,0,0,0.6);
}

iframe.vid {
	/*fixed height...?*/
	max-height: 500px !important;
}

.span-one-half{display:inline;}

#white-body{
    width:42%;
    color:rgba(0,0,0,0.7);
    background-color:rgba(250,250,250,0.75);
    float:left;
    margin-left:7%;
    height:27em;
    box-shadow:0 0 0.5em #458FFF;
}

#white-body-2{
    width:42%;
    color:rgba(0,0,0,0.7);
    background-color:rgba(250,250,250,0.75);
    float:right;
    margin-right:7%;
    height:27em;
    box-shadow:0 0 0.5em #19FF19;
}

.bodytext{
    padding-top:1.6em;
    padding-left:1.2em;
    padding-right:1.2em;
    text-align:justify;
    font-size:1.15em;
    font-family:Raleway, sans-serif;
    letter-spacing:0.01em;
}

.bodytext2{
    padding:1em;
    text-align:justify;
    font-size:1.2em;
    font-family:Raleway, sans-serif;
    letter-spacing:0.03em;
}

.bodytexthead{
    font-size:2.2em;
    text-transform:uppercase;
    letter-spacing:0.03em;
}

.bodytexthead2{
    font-size:1.2em;
    letter-spacing:0.03em;
    text-transform:uppercase;
}
/********************** RUSH BOXES ************************/
.row{margin-left:2%;}
[class*="span"]{
    display:inline;
} 
.clearfix:before, .clearfix:after{content:""; display:table;}
.clearfix:after{clear:both;}
.clearfix{zoom:1;}
@media only screen and (min-width:800px){
    .row{margin-top:10em;}
}
@media only screen and (max-width:800px){
    .span-one-half{display:block;}
    #white-body{
        margin-left:5%;
        margin-right:5%;
        width:90%;
    }
    #white-body-2{
        margin:5%;
        width:90%;
    }
    .row{margin-top:3em;}
}
/******************** /RUSH BOXES ************************/

#blue-body{
    /*color:rgba(250,250,250,0.8);
    background-color:rgba(11,23,64,0.8);*/
    color:rgba(0,0,0,0.7);
    width:75%;
    text-align:justify;
    margin:0 auto;
    margin-bottom:5em;
    padding-left:1em;
    padding-right:1em;
}


/******************************* /HOME *****************************/

.contactinfo{
    font-size:1.7em;
    color:rgba(0,0,0,0.5);
    font-family:Raleway, sans-serif;
    margin-top:20%;
    text-align:center;
}

.social-slide {
    height: 48px;
    width: 48px;
    margin: 10px;
    float: left;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
    transition: all ease 0.3s;
    cursor:pointer;
    margin-top: 10px;
    -moz-box-shadow:inset -7px -4px 22px #000000;
    -webkit-box-shadow:inset -7px -4px 22px #000000;
    box-shadow:inset -7px -4px 22px #000000; 
}
.social-slide:hover{
  background-position: 0px -48px;
}
.twitter-hover{
    background-image:url('../img/twitter-hover.png');
}
.linkedin-hover{
    background-image:url('../img/linkedin-hover.png');
}
.facebook-hover{
    background-image:url('../img/facebook-hover.png');
}
#footerinfo{float:left; display:inline;}
#sociallinx{float:right; display:inline;}
footer{
    bottom:0%;
    position:fixed;
    background-color:#000000;
    z-index:10;
    width:100%;
    text-align:center;
    color:#ffffff;
    padding:0.1em;
    border-top: 2px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 1.5em rgba(0,0,0,0.6);
}