.ktp-fade {
	color: #18FF18;  
	-webkit-animation: ktp-fade 30s infinite linear; 
	-moz-animation: ktp-fade 30s infinite linear; 
}
@-webkit-keyframes ktp-fade {
    0%		{ color: #18FF18; } 
    50%		{ color: #485FFF; }
}
@-moz-keyframes ktp-fade {
    0%		{ color: #18FF18; } 
    50% 	{ color: #485FFF; }
}

.rev-fade {
	border-color: #18FF18;  
	-webkit-animation: rev-fade 30s infinite linear; 
	-moz-animation: rev-fade 30s infinite linear; 
}
@-webkit-keyframes rev-fade {
    0%		{ border-color: #485FFF; }
    50%		{ border-color: #18FF18; } 
}
@-moz-keyframes rev-fade {
    0%		{ border-color: #485FFF; }
    50%		{ border-color: #18FF18; } 
}


body{
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
	position: absolute;

}

/*scrollbar, from http://css-tricks.com/examples/WebKitScrollbars/ */
/* Let's get this party started */
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255,255,255,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,255,255,0.4); 
}


/******************************* NAV *******************************/
#ascensor {
    overflow: hidden;
    z-index: -100;
}

#nav-bar {
    position: fixed;
    z-index: 10;
    height: 48px;
    width: 100%;
    text-align: center;
    background: black;
    opacity: .8;
    font-size: 20px; 
}

.nav-link {
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
    color: #19ff19;
    height: 100%;
    width: 20%;
    border-right: 3px solid #616D7E;
}   

.nav-link:hover {
    color: blue;
    cursor: pointer;
    cursor: hand;
} 

.quote {
    float: left;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 100%;
    width: 20%;
    color: #616D7E;
    font-family: 'Petit Formal Script', cursive;
} 

.quote-l {
    border-right: 3px solid #616D7E;
    font-size: 23px;
}

/* 855 px add media*/
@media all and (max-width: 855px) {
	.quote{
		display: none;
	}
	div.nav-link {
		width: 33.333%;
	}
}
/******************************* /NAV *******************************/


/******************************* HOME ******************************/
#home-header{
	color: #18FF18;
	border-bottom:20px solid #458FFF;
	padding-top: 30px; 
}

#home-hdr-font{
	font-size:5em;
	font-weight: bold;
	font-family: Trebuchet, Arial, Helvetica, sans-serif;
}

#home {
	background: url('../img/hexabump.png');
	background-repeat: repeat;
}

#vid {
	width: 100%;
	height: 500px;
}


/******************************* /HOME *****************************/

.social-slide {
	height: 48px;
	width: 48px;
	margin: 10px;

	-webkit-transition: all ease 0.3s;
	-moz-transition: all ease 0.3s;
	-o-transition: all ease 0.3s;
	-ms-transition: all ease 0.3s;
	transition: all ease 0.3s;
	cursor:pointer;
	-moz-box-shadow:inset -7px -4px 22px #000000;
	-webkit-box-shadow:inset -7px -4px 22px #000000;
	box-shadow:inset -7px -4px 22px #000000;
	background-color: blue;
}
.social-slide:hover {
	background-position: 0px -48px;
}
.twitter-hover{
	background-image:url('../img/twitter-hover.png');
}
.instagram-hover{
	background-image:url('../img/instagram-hover.png');
}
.linkedin-hover{
	background-image:url('../img/linkedin-hover.png');
}
.facebook-hover{
	background-image:url('../img/facebook-hover.png');
}