
* {
	margin: 0;
	padding: 0;
}

body {
	font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
}

#home {
	background: #F9B233;
}

#rush {
	background: #71B5E5;
}
#members {
	background: #B3CE4A;
}

nav {
	position: fixed;
	text-align: center;
	width: 100%;
}

li.link-internal {
	display: inline-block; 
	zoom: 1;
	*display: inline;
	padding: 10px;
}        

li.selected {
	color: #0f0;
}

#ascensor {
	overflow: hidden;
}

ul.nav {
	width: 100%;
}

