#rush{
	background: #71B5E5;
}

#rush-header{
	border-bottom:20px solid greenyellow;
	padding-top: 30px; 
}

#rush-hdr-font{
	font-size:5em;
	color: darkmagenta;
	font-weight: bold;
}

#buzzword-carousel{
	width:100%;
}

#interest-form{
	text-align: justify;
}