#rush-header{
	border-bottom:20px solid greenyellow !important;
}

#rush-hdr-font{
	font-size: 75px;
	color: darkmagenta;
}

#this-carousel-id{
	width:400px !important;
}

#interest-form{
	background-color: yellow;
	text-align: center;
}