extends layout

block content
	button#forum Forum
	div#committees.forum
	div#projects.forum
	div#topics.forum
	div#posts
	div#inputs
		input#text(type='text',placeholder='Text here...')
		button#send Send