body {
	background: black;
}


.square {
	width: 80px;
	height: 80px;
	margin-top: .2em;
	margin-bottom: .2em;
}

.squareTight {
	width: 80px;
	height: 80px;
	background: green;
	margin-top: .2em;
	margin-bottom: .2em;
}

.blankSquare {
	width: 80px;
	height: 80px;
	background: none;	
	margin-top: .2em;
	margin-bottom: .2em;
}

.triangleTopLeft {
	width: 0;
	height: 0;
	border-top: 80px solid blue;
	border-right: 80px solid transparent;
	margin-top: .2em;
	margin-bottom: .2em;
}


.triangleTopRight {
	width: 0;
	height: 0;
	border-top: 80px solid blue;
	border-left: 80px solid transparent;
	margin-top: .2em;
	margin-bottom: .2em;
}



.triangleBottomLeft {
	width: 0;
	height: 0;
	border-bottom: 80px solid blue;
	border-right: 80px solid transparent;
	margin-top: .2em;
	margin-bottom: .2em;
}


.triangleBottomRight {
	width: 0;
	height: 0;
	border-bottom: 80px solid blue;
	border-left: 80px solid transparent;
	margin-top: .2em;
	margin-bottom: .2em;

}

.click {
	cursor: pointer; cursor: hand;
}


@-webkit-keyframes greenPulse {
  from { background-color: blue; -webkit-box-shadow: 0 0 9px #333; }
  50% { background-color: #19ff19; -webkit-box-shadow: 0 0 18px #91bd09; }
  to { background-color: blue; -webkit-box-shadow: 0 0 9px #333; }
}

/*1ABD1A*/

.square  {
  -webkit-animation-name: greenPulse;
  -webkit-animation-duration: 7s;
  -webkit-animation-iteration-count: infinite;
}


